*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: rgb(235, 235, 235);
}
h1{
    text-align: center;
    margin: 10px;
}
table{
    width: 98%;
    margin-left: 1%;
    height: 90vh;
}
table td{
    border-radius: 5px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
table td.ativo{
    transform: scale(1.1);
    z-index: 1;
}
table td:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}
table td p{
    font-size: 12px;
    text-align: center;
}
table td h3{
    text-align: center;
}
table td h4{
    font-size: 10px;
}


#detalhes{
    height: 300px;
    width: 685px;
    margin-left: 154px;
    margin-bottom: -298px;
    background-color: wheat;
    z-index: 50;
    border-radius: 5px;
}
#classificacoes{
    float: right;
    width: 350px;
    height: 175px;
    margin-right: 75px;
    margin-bottom: -65px;
}
#classificacoes div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
}
#classificacoes div:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}
#classificacoes h3{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 100px;
    display: inline-block;
    margin: 0;
    transform: rotate(90deg);
    white-space: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#classificacoes h2{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
#metal{
    background-color: #AAAAAA;
}
#não-metal{
    background-color: #00FF00;   
}
#metal-alcalino{
    background-color: #FF5733;
}
#metal-alcalino-terroso{
    background-color: #00C853;
}
#metal-de-transição{
    background-color: #3380FF;
}
#metalóide{
    background-color: #00FFD0;
}
#lantanídeo{
    background-color: #FFD700;
}
#actinoid{
    background-color: #FF33A8;
}
#gás-nobre{
    background-color: #FFD600;
}
#halogênio{
    background-color: #FF00FF;
}
#post-transition-metal{
    background-color: #FF9800;
}
.bloco{
    width: 31px;
    height: 125px;
    float: left;
    margin-left: 0.75px;
}
